{% extends 'base.html.twig' %}

{% block title %}climbing area overview
{% endblock %}

{% block body %}
<twig:Header/>

<div class="container">
	<ul>
		<li>name:
			{{area.name}}</li>
		<li>location:
			{{area.location}}</li>
		<li>rock type:
			{{area.rock_type}}</li>
	</ul>
	<p>{{area.description}}</p>
{{dump(area)}}

</div>{% endblock %}

